$color-major: #7FFFD4;
$color-minor: #F4A460;

.header {
    position: fixed;
    display: block;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eee;
    padding: 15px 0;

    &__content {
        &-logo {
            letter-spacing: 6px;
            
            a {
                color: $color-major;
                text-shadow: 2px 2px 2px $color-minor;
                text-decoration: none;
            }
        }
    }

    &__notifications {
        p {
            margin: 0;
        }
        padding: 10px;
        background-color: $color-minor;
        color: $color-major;
        position: absolute;
        width: 280px;
        border-radius: 0 0 10px 0;
        left: 0;
        top: 70px;
        transition: .3s linear;

        &:hover {
            background-color: #f58727;
        }

        &.active {
            animation: pressed 1s;
            animation-iteration-count: 1;
        }

        @keyframes pressed {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
}