$color-major: #7FFFD4;
$color-minor: #F4A460;


.home {
    color: #000;
    position: relative;
    a, span {
        text-decoration: none;
        color: #000;
    }
    position: relative;
    display: flex;
    padding-top: 50px;

    &__sidebar {
        z-index: 2;
        position: fixed;
        padding: 10px;
        flex-basis: 200px;
        border: 2px solid $color-major;
        border-radius: 10px;
        height: 210px;
        background-color: #fff;
    }

    .search {
        width: 387%;
        border-radius: 10px;
        top: -2px;
        padding: 15px 5px 5px;
        border: 2px solid $color-major;
        right: -442%;
        z-index: 2;
    }
    &__main.main__main {
        .home__main-posts-item:nth-child(-n+3) {
            margin-top: 0;
        }
    }
    &__main {
        // z-index: 1;
        padding: 20px;
        position: relative;
        margin-left: 220px;
        margin-bottom: 100px;
        flex-basis: 80%;
        border: 2px solid $color-major;
        border-radius: 10px;
        background-color: #fff;

        &-new {
            background-color: $color-major;
            border-radius: 20px;
            padding: 10px 10px 6px;
            text-align: center;
            color: #666;
            font-weight: 700;
            letter-spacing: 6px;
            transition: .3s linear;
            &:hover {
                background-color: $color-minor;
                cursor: pointer;
            }
            img {
                width: 30px;
            }
        }

        &-posts {
            display: flex;
            flex-wrap: wrap;

            &-item {
                margin-top: 20px;
                width: 32%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            &-item:nth-child(3n+2) {
                margin-left: 2%;
                margin-right: 2%;
            }

        }
        &-profile {
            display: flex;
            flex-wrap: wrap;
            padding: 5px;

            .profile__main, .profile__minor {
                flex-basis: 100%;
            }

            .profile__main {
                display: flex;
                justify-content: space-between;

                &-info {
                    display: flex;
                    justify-content: flex-start;
                }

                .auth__form-btn {
                    letter-spacing: normal;
                }
            }

            .profile__minor {
                display: flex;
                justify-content: flex-end;

                &-subscriptions, &-subscribers {
                    padding: 5px;
                }
            }
        }
    }

    @media (max-width: 960px) {
        &__sidebar {
            display: none;
        }
        &__main {
            flex-basis: 100%;
            margin-left: 0;
        }
    }
}

@media (max-width: 960px) {
    .home__main {
        z-index: 0;

        .profile__minor, .auth__form-btn {
            font-size: 12px;
        }
    }
}

@media (max-width: 700px) {
    .content  {
        width: 96%;
        padding-top: 30px;
    }
}

@media (max-width: 540px) {
    .content  { 
        padding-top: 10px;
    }

    .profile__minor, .auth__form-btn {
        font-size: 10px;
    }

    .home__main {
        padding: 5px;
        &-new {
            padding: 4px 3px 2px;
            img {
                width: 15px;
            }
        }
        .modal__base-content-title {
            &-avatar {
                img {
                    width: 30px;
                }
            }

            &-nickname {
                font-size: 20px;
            }
        }

        &-posts-item {
            margin-top: 5px;
        }
    }

    .profile__main .modal__base-content-title-nickname {
        font-size: 17px;
    }
}



.like {
    position: relative; 
    margin-right: 20px;

    &__left {
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 15px;
        height: 10px;
        border-radius: 50px;
        transform: rotate(45deg);
        border: .5px solid black;
    }

    &__right {
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 15px;
        height: 10px;
        border-radius: 50px;
        transform: rotate(-45deg) translate(3px, 3px);
        border: .5px solid black;
    }

    &__filler {
        position: absolute;
        background-color: white;
        width: 12px;
        height: 9px;
        border-radius: 50px;
        transform: rotate(45deg) translate(2px, -0.8px);
    }

    &-count {
        padding: 0 10px 0 25px;
    }
}

.like.active {
    .like__left {
        background-color: rgb(255, 0, 0);
        border: none;
    }

    .like__right {
        background-color: rgb(255, 0, 0);
        border: none;
    }

    .like__filler {
        display: none;
    }
}

.comment {
    z-index: 1;
    position: relative;
    top: -2px;
    width: 20px;
    height: 16px;
    border: .5px solid black;
    border-radius: 8px 8px 8px 8px;
    background-color: #fff;

    &:after {
        content: '';
        z-index: -3;
        position: absolute;
        width: 2px;
        height: 2px;
        border-bottom: .5px solid black;
        border-right: .5px solid black;
        background-color: #fff;
        transform: rotate(30deg) translate(18.5px, 5px);
    }

    &-count {
        padding-left: 5px;
    }
}



