.home {
  color: #000;
  position: relative;
  display: flex;
  padding-top: 50px; }
  .home a {
    text-decoration: none;
    color: #000; }
  .home__sidebar {
    position: fixed;
    padding: 10px;
    flex-basis: 200px;
    border: 2px solid #7FFFD4;
    border-radius: 10px;
    height: 195px;
    background-color: #fff; }
  .home__main {
    padding: 20px;
    position: relative;
    margin-left: 220px;
    margin-bottom: 100px;
    flex-basis: 80%;
    border: 2px solid #7FFFD4;
    border-radius: 10px;
    background-color: #fff; }
    .home__main-new {
      background-color: #7FFFD4;
      border-radius: 20px;
      padding: 10px 10px 6px;
      text-align: center;
      color: #666;
      font-weight: 700;
      letter-spacing: 6px;
      transition: .3s linear; }
      .home__main-new:hover {
        background-color: #F4A460;
        cursor: pointer; }
      .home__main-new img {
        width: 30px; }
    .home__main-posts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .home__main-posts-item {
        margin-top: 20px;
        width: 32%; }
        .home__main-posts-item img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .home__main-posts-item:hover {
          cursor: pointer; }
  @media (max-width: 960px) {
    .home__sidebar {
      display: none; }
    .home__main {
      flex-basis: 100%;
      margin-left: 0; } }

@media (max-width: 700px) {
  .content {
    width: 96%;
    padding-top: 30px; } }

@media (max-width: 540px) {
  .content {
    padding-top: 10px; }
  .home__main {
    padding: 5px; }
    .home__main-new {
      padding: 4px 3px 2px; }
      .home__main-new img {
        width: 15px; }
    .home__main .modal__base-content-title-avatar img {
      width: 30px; }
    .home__main .modal__base-content-title-nickname {
      font-size: 20px; }
    .home__main-posts-item {
      margin-top: 5px; } }

.like {
  position: relative;
  margin-right: 20px; }
  .like__left {
    position: absolute;
    background-color: white;
    width: 15px;
    height: 10px;
    border-radius: 50px;
    transform: rotate(45deg);
    border: .5px solid black; }
  .like__right {
    position: absolute;
    background-color: white;
    width: 15px;
    height: 10px;
    border-radius: 50px;
    transform: rotate(-45deg) translate(3px, 3px);
    border: .5px solid black; }
  .like__filler {
    position: absolute;
    background-color: white;
    width: 12px;
    height: 9px;
    border-radius: 50px;
    transform: rotate(45deg) translate(2px, -0.8px); }
  .like-count {
    padding: 0 10px 0 25px; }

.comment {
  z-index: 1;
  position: relative;
  top: -2px;
  width: 20px;
  height: 16px;
  border: .5px solid black;
  border-radius: 8px 8px 8px 8px;
  background-color: #fff; }
  .comment:after {
    content: '';
    z-index: -3;
    position: absolute;
    width: 2px;
    height: 2px;
    border-bottom: .5px solid black;
    border-right: .5px solid black;
    background-color: #fff;
    transform: rotate(30deg) translate(18.5px, 5px); }
  .comment-count {
    padding-left: 5px; }
