.image-form {
  padding: 50px 10px 70px; }

#make {
  margin-right: 82px; }

input[type="file"] {
  margin-top: 10px; }

.active {
  color: #7FFFD4; }

canvas, video {
  width: 60%;
  height: 60%; }

.preview {
  display: flex;
  justify-content: center;
  padding: 10px 0; }

@media (max-width: 870px) {
  canvas, video {
    width: 100%;
    height: 100%; } }

@media (max-width: 450px) {
  span.br {
    display: block; } }
