$color-major: #7FFFD4;
$color-minor: #F4A460;

.change {
    &__main {
        color: #fff;
        border: 2px solid $color-major;
        background-color: #999;

        &-title {
            color: $color-major;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &__form {
        padding: 10px;
        border: 1px solid $color-minor;
        border-radius: 5px;
        &:first-child {
            margin-bottom: 20px;
        }

        &-item {
            
        }
    }
}

label[for^="old_password"] {
    padding-top: 15px;
}