$color-major: #7FFFD4;
$color-minor: #F4A460;

.footer {
    display: flex;
    z-index: 1;
    background-color: #666;
    justify-content: space-around;
    border-top: 1px solid #eee;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

    a {
        color: $color-major;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}